<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blackoutx.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Blackout-X</name>
  <description>Apocalypse Idle Clicker - Blackout-X</description>
  <author email="dev@example.com" href="http://example.com">You</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="Fullscreen" value="true" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>
